################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SendPdfFile/.vs/SendPdfFile/v16
