################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SendPdfFile/.vs/SendPdfFile/v16
/PdfViewerInAngular/e2e
/SendPdfFile/.vs/SendPdfFile/config
